@using DigiCV.Persistence.Features.Membership;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.HasClaim(policy => policy.Value == "Administrator" || policy.Value == "Manager"))
    {
            <li class="nav-item mr-2 mb-2  mb-sm-2 mb-md-0">
               <a class="btn btn-outline-info" asp-area="Admin" asp-controller="Dashboard" asp-action="Index" title="Manage">Dashboard</a>
        </li>
    }
    @if (User.HasClaim(policy => policy.Value == "User"))
    {
        <li class="nav-item mr-2 mb-2  mb-sm-2 mb-md-0">
                <a class="btn btn-outline-info" asp-area="" asp-controller="Account" asp-action="Profile" title="Manage">My Account</a>
        </li>
    }

    <li class="nav-item">
        <form  class="form-inline" asp-antiforgery="true" asp-area="" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item mr-2 mb-2  mb-sm-2 mb-md-0">
            <a class="btn btn-info" asp-area="" asp-controller="Auth" asp-action="Register" >Register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-info" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
    </li>
}
</ul>
