<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DigiCV</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/adminLte3/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLte3/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/DownloadButton.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition layout-top-nav layout-navbar-fixed">
    <div class="wrapper">

        <!-- Main Header -->
        <partial name="_HeaderPartial" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <partial name="_FooterPartial" />
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <partial name="_ScriptPartial" />
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function shareLink() {
            // Get the text field
            var copyText = document.getElementById("shareLink");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            // Alert the copied text
            alert("Link copied.");
        }
    </script>
</body>
</html>
