
@{
    ViewData["Title"] = "Example";
}

@section Styles{
    <link rel="stylesheet" href="~/css/CoverLetter.css">
}
<section class="container">
    <div class="my-5 py-5">
        <div class="paper">
            <div class="content">
                <p>
                    887, East Kazipara<br>
                    Mirpur, Dhaka - 1216<br>
                    01810-757700<br>
                    mansurulhakim@gmail.com
                </p><br>
                <p style="font-weight: bold; line-height:0">14 October 2023</p>
                <p>
                    The Head of Human Resource<br>
                    Datasoft Ltd.<br>
                    12/A Dhanmondi, Dhaka - 1216.
                </p>
                <p style="font-weight: bold; margin-bottom: 1.8rem">Subject: Application for the "Junior Programmer" Post</p>
                <p style="line-height:1">Dear Sir,</p>
                <p style="text-align: justify;">
                    I am writing to express my interest in the Junior Programmer position at Datasoft Ltd., as
                    advertised on bdjobs. As a recent graduate in computer science and a passionate
                    individual with a keen eye for detail, I am confident that I have the technical skills and
                    enthusiasm necessary to contribute to your team.
                    <br><br>
                    During my studies, I gained experience in various programming languages including Java, Python, and
                    C++, and I have also completed several projects that demonstrate my ability to code in a structured
                    and logical manner. Furthermore, my experience working on collaborative projects has helped me to
                    develop my communication skills and my ability to work effectively as part of a team.
                    <br><br>
                    In addition to my technical skills, I have a strong work ethic and I am committed to developing my
                    skills in order to further my career in programming. I am eager to learn new technologies and
                    programming languages and I am confident that I can make a valuable contribution to your team.
                    <br><br>
                    Thank you for considering my application. I look forward to the opportunity to discuss my
                    qualifications further.
                </p>
                <p><br>Sincerely,</p>
                <p style="font-weight: bold;">Mansurul Hakim Shakib</p>
            </div>
        </div>
    </div>
</section>