@model List<CoverLetterModel>
@{
    ViewData["Title"] = "Cover Letter";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        .underline-on-hover:hover {
            text-decoration: underline;
            color: black;
        }

    </style>
</head>
<body>
    <div class="container">
        <br />
        <h1 class="text-3xl font-bold">My Cover Letters</h1>
        <a href="#" class="btn btn-outline-success">Add New Cover Letters</a>
        <div class="clearfix"></div>
    </div>
    <div class="container mx-auto">
        <div class="my-4">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th class="text-center w-25">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var letter in Model)
                    {
                        <tr>
                            <td><span class="bold-number">@(i++)</span>. <a asp-area="" asp-controller="" asp-action="" class="underline-on-hover">@letter.Title</a></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-10">Edit</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary mr-10">Share</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>