@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-inline-block w-100 vh-100 mt-5"><h3 class="text-center mt-5">Please Check Your Email And Confirm Registration</h3></div>