@model SkillListModel

@{
    ViewData["Title"] = "Index";
}

@section Styles
    {
    <link rel="stylesheet" href="~/adminLte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/adminLte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a asp-controller="SkillManagement" asp-action="Create" class="btn btn-primary px-3 py-2 my-3">
                        <i class="fas fa-plus-circle nav-icon"></i>
                        Add a Skill
                    </a>
                    <br>
                    <h3 class="card-title">DataTable with skill items</h3>
                </div>
                <div class="card-body">
                    <partial name="_ResponsePartial" />
                    <table id="skills" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                            <th>Name</th>
                            <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                    <partial name="_ModalPartial" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    <script src="~/adminLte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminLte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminLte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminLte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#skills').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/admin/skill-management/get",
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 1,  //action (delete and edit show which no of column)
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/skill-management/update/${data}'" value='${data}'><i class="fas fa-pencil-alt"></i>Edit</button>
                                                                                    <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'><i class="fas fa-trash"></i>Delete</button>`;
                        }
                    }
                ]
            });

            $('#skills').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this row?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/skill-management/delete");
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });
        });
    </script>
}
