
@{
    ViewData["Title"] = "AccessDenied";
}


@section Styles{
    <link rel="stylesheet" href="~/css/AccessDenied.css">
}

<body>
    <div class="center-content">
        <div class="container">
            <div class="lock-icon">🔒</div>
            <h1>Access Denied</h1>
            <p>Sorry, you do not have permission to access this page.</p>
            <a asp-controller="home" asp-action="index" class="link">Go Back</a>
        </div>
    </div>
</body>




