
@{
    ViewData["Title"] = "GetResume2";
}

@section Styles{
    <style>
        .left_side {
            background-color: #003147;
            color: white;
            font-family: 'Poppins', sans-serif;
            padding: 40px;
        }

        .right_side {
            background-color: #ffffff;
            color: #333;
            font-family: 'Poppins', sans-serif;
            padding: 40px;
        }

        .line {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

        .icon {
            font-size: 18px;
            color: #03a9f4;
        }
    </style>
}

<section class="my-4 py-4">
    <div class="container mx-auto p-5">
        <div class="row" style="min-height: 1000px;">
            <div class="left_side col-md-4">
                <div class="mt-4 text-center">
                    <img src="~/images/ma.jpg" alt="Candidate" class="img-fluid rounded-pill " style="width: 200px;">
                    <h3 class="mt-3 mb-2 font-weight-bold text-uppercase">Mansurul Hakim</h3>
                    <h5 class="font-weight-lighter mb-4 pb-4 text-uppercase line">
                        Software Engineer
                    </h5>
                </div>
                <div class="pt-4">
                    <h4 class="font-weight-bold mb-4" style="font-size: 1.4em; letter-spacing: 1px;">
                        CONTACT INFO
                    </h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fa-solid fa-phone icon"></i>
                            <span class="ml-3">+880 170934-4637</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa-regular fa-envelope icon"></i>
                            <span class="ml-3">mansurulhakim@gmail.com</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa-brands fa-skype icon"></i>
                            <span class="ml-3">mansurul.sk</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa-brands fa-linkedin-in icon"></i>
                            <span class="ml-3">www.linkedin.com/mansurul</span>
                        </li>
                        <li class="mb-2">
                            <i class="fa-solid fa-location-dot icon"></i>
                            <span class="ml-3"> East Kazipara, Mirpur - 1216</span>
                        </li>
                    </ul>
                </div>
                <div class="pt-5">
                    <h4 class="font-weight-bold mb-4" style="font-size: 1.4em; letter-spacing: 1px;">
                        EDUCATION
                    </h4>
                    <ul class="list-unstyled">
                        <li class="mt-3 mb-2">
                            <h6 style="color: #03a9f4;">2023 - (78%)</h6>
                            <h5><small class="font-weight-bold">B.Sc. in Software Engineering</small></h5>
                            <h5><small>Daffodil International University</small></h5>
                        </li>
                        <li class="mt-3 mb-2">
                            <h6 style="color: #03a9f4;">2018 - (60%)</h6>
                            <h5><small class="font-weight-bold">HSC</small></h5>
                            <h5><small>Adamjee Cantonment College</small></h5>
                        </li>
                        <li class="mt-3 mb-2">
                            <h6 style="color: #03a9f4;">2016 - (75%)</h6>
                            <h5><small class="font-weight-bold">SSC</small></h5>
                            <h5><small>Bauphal Govt. High School</small></h5>
                        </li>
                    </ul>
                </div>
                <div class="pt-5">
                    <h4 class="font-weight-bold mb-4" style="font-size: 1.4em; letter-spacing: 1px;">
                        EXPERTISE
                    </h4>
                    <ul>
                        <li>
                            <p>.Net Core, Web API, NodeJs</p>
                        </li>
                        <li>
                            <p>Bootstrap CSS, HTML</p>
                        </li>
                        <li>
                            <p>Asp.net, .Net MVC</p>
                        </li>
                        <li>
                            <p>LINQ, SQL, Entity Framework and MongoDB</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right_side col-md-8">
                <div class="mt-3">
                    <h4 class="font-weight-bold mb-3"
                        style="color: #003147; font-size: 1.6em; letter-spacing: 1px;">
                        PROFILE
                    </h4>
                    <p class="text-justify">
                        An experienced person over 7 years of experience, skilled in software development,
                        implementation and management. I work well under pressure and consistently meets deadlines
                        and targets while delivering high quality work. Last but not the least, as a self-motivated
                        person who consistently exceeds customer expectations and develops cost-effective solutions
                        to complex problems and has willingness to learn in making an Organization successful.
                    </p>
                </div>
                <div class="mt-5">
                    <h4 class="font-weight-bold" style="color: #003147; font-size: 1.6em; letter-spacing: 1px;">
                        EXPERIENCE
                    </h4>
                    <div class="row mt-3">
                        <div class="col-md-4 text-secondary">
                            <h5><small>08/2018 - present</small></h5>
                            <h5 class="text-uppercase"><small>B Green Limited.</small></h5>
                        </div>
                        <div class="col-md-8">
                            <h5 class="font-weight-bold text-uppercase" style="color: #2a7da2; font-size: 18px;">
                                Senior Software Engineer
                            </h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    Develop enterprise software solutions by studying information needs, conferring
                                    with
                                    users, studying system flow and work processes, investigating problem areas,
                                    following the software development life cycle.
                                </li>
                                <li class="mb-2">
                                    Document and demonstrate solutions by developing documentation, flowcharts,
                                    layouts,
                                    diagrams etc.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 text-secondary">
                            <h5><small>07/2017 - 06/2018</small></h5>
                            <h5 class="text-uppercase"><small>Hello Solutions Ltd.</small></h5>
                        </div>
                        <div class="col-md-8">
                            <h5 class="font-weight-bold text-uppercase" style="color: #2a7da2; font-size: 18px;">
                                Senior Software Engineer (.Net)
                            </h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    Gathering information, user requirement analysis for developing high quality
                                    Application.
                                </li>
                                <li class="mb-2">
                                    Planning, design, built and release to TFS server for testing.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <h4 class="font-weight-bold mb-3"
                        style="color: #003147; font-size: 1.6em; letter-spacing: 1px;">
                        PROJECTS
                    </h4>
                    <div class="mt-3 mb-2">
                        <h5 class="font-weight-bold" style="font-size: 18px;">
                            ISP Billing System<span class="text-secondary float-right">
                                ABCD
                                Private Ltd.
                            </span>
                        </h5>
                        <p class="text-justify">
                            This ERP project basically concentrating on ISP business
                            consists of customer management, customer care management, product management,
                            financial management, logistics & inventory management, order management & ISP
                            billing collection, Cisco Cloud billing, accounting, sales CRM etc.<br>
                            Language/Tools: .Net Core Web API, SQL Server 2016, Angular 6

                        </p>
                    </div>
                    <div class="mt-3 mb-2">
                        <h5 class="font-weight-bold" style="font-size: 18px;">
                            Hospital Management System<span class="text-secondary float-right">Personal</span>
                        </h5>
                        <p class="text-justify">
                            This ERP project basically concentrating on ISP business
                            consists of customer management, customer care management, product management,
                            financial management, logistics & inventory management, order management & ISP
                            billing collection, Cisco Cloud billing, accounting, sales CRM etc.<br>
                            Language/Tools: .Net Core Web API, SQL Server 2016, Angular 6

                        </p>
                    </div>
                </div>
                <div class="pt-5">
                    <h4 class="font-weight-bold mb-3"
                        style="color: #003147; font-size: 1.6em; letter-spacing: 1px;">
                        TRAINING
                    </h4>
                    <ul>
                        <li>
                            Workshop on Software Design and Architecture at Nerd Castle, BASIS, Dhaka from Feb 03 to
                            Mar 03, 2017
                        </li>
                        <li>
                            Training on Object Oriented Programming on .Net at BASIS, Dhaka from Nov 2009 to Feb
                            2010
                        </li>
                        <li>
                            Industrial Training on J2EE at DPS pvt. Ltd, Kolkata, India from June 2007 to July 2007
                        </li>
                    </ul>
                </div>
                <div class="pt-5">
                    <h4 class="font-weight-bold mb-3"
                        style="color: #003147; font-size: 1.6em; letter-spacing: 1px;">
                        REFERENCE
                    </h4>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <h5 class="font-weight-bold" style="font-size: 18px; color: #03a9f4;">
                                Abdullah Maruf
                            </h5>
                            <h5 class="text-secondary" style="font-size: 18px;">
                                Chief Architect, <span>
                                    ABCD Private
                                    Ltd.
                                </span>
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">Address: </span>House 1,
                                Road 02, Block C, Section D,
                                Mirpur 1, Dhaka 1216
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">
                                    Email:
                                </span>maruf@abcdltd.com
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">
                                    Contact:
                                </span>+8801722222222
                            </h5>
                        </div>
                        <div class="mb-3 col-md-6">
                            <h5 class="font-weight-bold" style="font-size: 18px; color: #03a9f4;">Tanvir Ahmed</h5>
                            <h5 class="text-secondary" style="font-size: 18px;">
                                Software Engineer, <span>
                                    BD
                                    Soft Ltd.
                                </span>
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">Address: </span>ABC Tower,
                                9th Floor, Mogh Bazar, Dhaka 1215
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">
                                    Email:
                                </span>tanvir@testbd.com
                            </h5>
                            <h5 style="font-size: 17px;">
                                <span class="font-weight-bold">
                                    Contact:
                                </span>+8801817144444
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

